#container-loto {
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
    font-family: Roboto;
}

#logo-titulo-loto {
    display: flex;
}

#nome-loto {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: #930089;
}

#estimativa-loto {
    width: 15rem;
    margin-left: 45px;
    margin-top: 20px;
}

#texto-estimativa-loto {
    font-size: 0.9rem;
    color: #4c556c;   
}

#valor-estimativa-loto {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: #930089; 
}

#direita-loto {
    margin-left: 50px;
}

#linha-loto {
    display: flex;
    color:#930089;
    flex-wrap: wrap;
    width: 350px;
}

.loto{
    font-size: 1.3rem;
    padding: 10px 20px;
    color: #930089;
    border-bottom: 1px solid #ddd;
}

.loto-sl {
    font-size: 1.3rem;
    padding: 10px 20px;
    color: #930089;
}

#texto-acumulou-loto {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0066b3;
}

#data-concurso-loto {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #4c556c;  
}

#carregando-loto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh ;
}
