#container-mega {
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
    font-family: Roboto;
}

#logo-titulo-mega {
    display: flex;
}

#nome-mega {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: #209869;
}

#estimativa-mega {
    width: 15rem;
    margin-left: 45px;
    margin-top: 20px;
}

#texto-estimativa-mega {
    font-size: 0.9rem;
    color: #4c556c;   
}

#valor-estimativa-mega {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: #209869;  
}

#direita-mega {
    margin-left: 50px;
}

#linha-bola-mega {
    display: flex;
}

.bola-mega {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 1.2rem;
    color:#fff;
    background-color: #209869;
}

#texto-acumulou-mega {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0066b3;
}

#data-concurso-mega {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #4c556c;  
}